@model PaginatedList<ModernAuction.Models.Auction>

@{
    ViewData["Title"] = "Auctions";
}

<h1>Auctions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Item Description</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">AuctionStartTime</a>
            </th>
            <th>
                Auction End Time
            </th>
            <th>
                Final Price
            </th>
            <th>
                Current price
            </th>
            <th>
                Bids
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               @Html.DisplayFor(modelItem => item.Item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuctionStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuctionEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currentprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bids)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.AuctionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AuctionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AuctionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>